<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visual Learning</title>
    <link rel="stylesheet" href="../public/css/visual.css" />
    <!--- update css link if needed-->
  </head>
  <body>
    <header>
      <img src="../public/images/logo.png" alt="LearnFuse Logo" />
      <nav>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="#">Visual</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Visual</h1>
      <div class="container">
        <p>
          Visual learners are learners who retain information best by reading
          text or using tools like mind maps and diagrams. <br />
          Upload your text file below to receive your diagram!
        </p>
        <div class="upload-container">
          <button>Click to Upload File</button>
          <button class="submit-button">Submit</button>
        </div>
      </div>
      <div class="output">Diagram Output:</div>
    </main>
  </body>
</html>
